.authInput {
  width: 500px;
  height: 60px;

  padding: 8px 16px;
  padding-right: 48px;
  margin: 8px 0;
}

.authInputError {
  border-color: var(--error);
}

.authInputError:focus {
  border-color: var(--error);
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 24px;
}

.changeUsernameSubmit {
  flex: 1;
  height: 60px;

  font-size: 1.8rem;
  font-weight: bold;

  background-color: var(--primary);
  border: solid 2px var(--border);
  border-radius: 5px;
}

.changeUsernameSubmit:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.changeUsernameSubmit:disabled {
    background-color: var(--button-disabled-bg);
    border-color: var(--button-disabled-border);
    color: var(--button-disabled-text);
}

.cancelButton {
  flex: 1;

  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-primary);

  background-color: var(--surface);
  border: solid 2px var(--border);
  border-radius: 5px;
}

.cancelButton:hover {
  background-color: var(--surface-hover);
  border-color: var(--border-hover);
}

.usernameError {
  width: 500px;
  align-self: flex-start;
  margin-bottom: 16px;
  color: var(--error);
}

.changeUsernameFormError {
    margin-top: 24px;
    color: var(--error);
}

.buttonContainerWithError {
    margin-top: 16px;
}