.resetPasswordSuccessPageContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.authTitle {
  margin: 0;
}

.authSubheading {
  margin-top: 8px;
  margin-bottom: 40px;

  font-size: 1rem;
  text-align: center;
}

.toLogin {
  width: 100%;
  height: 60px;

  font-size: 1.8rem;
  font-weight: bold;

  background-color: var(--primary);
  border: solid 2px var(--border);
  border-radius: 5px;
}

.toLogin:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}