.resetPasswordFormContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.authTitle {
  margin: 0;
}

.authSubheading {
  margin-top: 8px;
  margin-bottom: 40px;

  font-size: 1rem;
  text-align: center;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputPassword {
  width: 500px;
  height: 60px;

  padding: 8px 16px;
  padding-right: 48px;
  margin: 8px 0;
}

.inputPasswordError {
  border-color: var(--error);
}

.inputPasswordError:focus {
  border-color: var(--error);
}

.inputPasswordContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.buttonShowPassword {
  position: absolute;
  left: 460px;
  
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  box-shadow: none;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 24px;
}

.resetPasswordSubmit {
  flex: 1;
  height: 60px;

  font-size: 1.8rem;
  font-weight: bold;

  background-color: var(--primary);
  border: solid 2px var(--border);
  border-radius: 5px;
}

.resetPasswordSubmit:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.cancelButton {
  flex: 1;

  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-primary);

  background-color: var(--surface);
  border: solid 2px var(--border);
  border-radius: 5px;
}

.cancelButton:hover {
  background-color: var(--surface-hover);
  border-color: var(--border-hover);
}

.resetPasswordInputError {
  width: 500px;
  align-self: flex-start;
  margin-bottom: 16px;
  color: var(--error);
}

.resetPasswordFormError {
    margin-top: 24px;
    color: var(--error);
}

.buttonContainerWithError {
    margin-top: 16px;
}